<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798603420703-4iocla1h9oq94us9htm67f8hnd97lbva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798603420703-4iocla1h9oq94us9htm67f8hnd97lbva</string>
	<key>API_KEY</key>
	<string>AIzaSyCUHQvVXdOEiQHl3Ns3f7-Vism9lAuXxXs</string>
	<key>GCM_SENDER_ID</key>
	<string>798603420703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalgames.desafioquiz</string>
	<key>PROJECT_ID</key>
	<string>projeto-treinamento-b49ec</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-treinamento-b49ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798603420703:ios:1b940f4c0f891723</string>
	<key>DATABASE_URL</key>
	<string>https://projeto-treinamento-b49ec.firebaseio.com</string>
</dict>
</plist>